################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MasterPatientIndex/bin/Debug/netstandard2.0
/MasterPatientIndex/obj
/MPIConsole/MPIConsole/bin/Debug
/MPIConsole/MPIConsole/obj
/MPIConsole/packages
/MasterPatientIndexTest/bin/Debug
/MasterPatientIndexTest/obj/Debug
